@import "tailwindcss";

@theme {
    --color-lavender-50: #f5f6fd;
    --color-lavender-100: #ececfb;
    --color-lavender-200: #dcddf8;
    --color-lavender-300: #bfc0f3;
    --color-lavender-400: #9e9ceb;
    --color-lavender-500: #7a71e1;
    --color-lavender-600: #6553d4;
    --color-lavender-700: #5540c1;
    --color-lavender-800: #4836a1;
    --color-lavender-900: #3c2e84;
    --color-lavender-950: #231c59;
}

@keyframes rise {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0.2;
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 5s ease-in-out infinite;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

